$background-color-theme: (
  primary: #3885bf,
  secondary: #2a898f,
  light: #f4f9f9,
);

$colors: (
  light-gray: #adadad,
  kashmir-blue: #60778f,
  white: #ffffff,
  ball-hai: #869aac,
  pomegranate: #ee423d,
  cinderella: #fcd0ce,
  biscay: #2f3b52,
  cian-azul: #70889e,
  slate-grey: #657d95,
  dodger-blue: #1f8efa,
  black: #000000,
  alabaster: #f9f9f9,
  pastel-red: #ff6961,
);

$colors-theme: (
  primary: #3885bf,
  secondary: #0f3234,
);

$breakpoints-media-queries: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xlg: 1200px,
  xxlg: 1600px,
  xxxlg: 1824px,
);
